/* 임시 */
/* .item {
    display: none;
} */
/* .item.art20 { /* 보이고싶은작품 숫자만 바꿔주기 
    display: block;
} */

/* 작품위치 CSS */
.art1 {
left: 55%;
top: 3%;
}
.art2 {
    left: 69%;
    top: 3%;
}
.art3 {
    left: 69%;
    top: 21%;
}
.art4 {
    left: 78%;
    top: 23%;
}
.art5 {
    top: 41%;
    left: 55%;
}
.art6 {
left: 69%;
top: 40%;
}
.art7 {
    left: 55%;
    top: 59%;
}
.art8 {
    top: 75%;
    left: 55%;
}
.art9{
    left: 47%;
    top: 78%;
}
.art10{
    left: 46%;
    top: 56%;
}
.art11{
    left: 45%;
    top: 31%;
}
.art12{
    left: 34%;
    top: 2%;
}
.art12:hover{
    scale: 1.2;
}

.art13{
    top: 3%;
    left: 11%;
    scale: 1.2;
}
.art14{
    top: 13%;
    left: 27%;
}
.art15{
    top: 12%;
    left: 19%;
}
.art16{
    top: 27%;
    left: 16%;
}
.art17{
    left: 25%;
    top: 28%;
}
.art18{
    left: 22%;
    top: 56%;
}
.art18:hover {
    transform: scale(1.2);
    border-radius: 50%;

}
.art18 .desc{
    border-radius: 50%;   
}
.art19{
    top: 56%;
    left: 32%;
}
.art20{
    top: 80%;
    left: 40%;
}
.art21{
    top: 12.5%;
    left: 8%;
}
.art22{
    top: 3%;
    left: 82%;
}
.art23{
    top: 61%;
    left: 63%;
    width: 230px;
}
.art24{
    top: 5%;
    left: 40%;
    width: 240px;
}

/* 호버시 */
/* 
1. #d34640
2. #5390ae
3. #1a9388
4. #e1a800
5. #ecd8c5
6. #6dd8f4
7. #847449
8. #86003e
9. #f6bc7c
10. #b00700
11. #6798c7
12. #000000
13. #6db1da
14. #dc4819
15. #83724c
16. #0037cc
17. #d7eb25
18. #f5002f
19. #e07192
20. #013614
21. #40b068
22. #5f5472
23. #f0b3ce
*/