@charset "utf-8";
@import url(./reset.css);  
@import url(https://db.onlinewebfonts.com/c/74fc282ac1937b053f409b3b70eb1bb6?family=Helvetica+Ultra+Compressed);  
/* header s */
.header {
    height: 30vh;
}
.logo {
    width: 100%;
    height: 100%;
}
.logo>a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.logo .img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo .img-box img{
    position: absolute;
    height: 100%;
    transition: .3s;
}
.logo .img-box img.front {
    z-index: 1;
}

.logo>a:hover .img-box img.front {
    opacity: 0;
} 
/* header e */

/* main exhibition s */
.section-exhibition{
    padding-top: 35vw;
    padding-bottom: 128px;
}
.section-exhibition h2{
    font-stretch: condensed;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1;
   font-size: 40px;
   padding-left: 80px;
}
.section-exhibition h2>p{
    color: #8d8d8d;
}

.ex-slide-wrap {
    display: flex;
    position: relative;
}

.section-exhibition .section-tit {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 200px;
}

.ex-slide-wrap .section-tit {
    width: 30%;
}
.ex-slide-wrap .ex-slide {
    width: 70%;
}

.ex-slide .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ex-slide .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
    height: 200px;
}

.ex-slide .title > h3 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
}
.ex-slide .title > p {
    margin-top: 20px;
    font-weight: 500;

}
.loc span {
    display: block;
    width: fit-content;
    border: 1px solid #000;
    font-weight: 700;
    padding: 4px;
}

.ex-slide-wrap .swiper-control {
    position: absolute;
    right: 0;
    bottom: -65px;
    width: 70%;
    height: 40px;
}

.ex-slide-wrap .swiper-control .swiper-button-next,
.ex-slide-wrap .swiper-control .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-image: url('../img/화살표블랙.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image .3s;
}

.ex-slide-wrap .swiper-control .swiper-button-prev {
    rotate: -180deg;
}

.ex-slide-wrap .swiper-control .swiper-button-next:hover,
.ex-slide-wrap .swiper-control .swiper-button-prev:hover {
    background-image: url('../img/화살표핑크.svg');
}

.ex-slide-wrap .swiper-control .swiper-button-next::after,
.ex-slide-wrap .swiper-control .swiper-button-prev::after {
    display: none;
}

.ex-slide-wrap .swiper-button-prev.swiper-button-disabled,
.ex-slide-wrap .swiper-button-next.swiper-button-disabled {
    background-image: none;
}


/* main exhibition e */

/* vote s */
.section-vote{
    padding: 128px 40px;
}
.vcard h2{
    font-size: 170px;
    font-weight: 500;
    text-align: center;
    font-family: "Helvetica Ultra Compressed";
    line-height: 0.8;
    
}
.vcard p {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 80px;
    font-stretch: condensed;
    letter-spacing: -0.1rem;
}
.vcard {
    max-width: 1250px;
    margin: 0 auto;
}
.card-list {
    display: flex;
    gap: 32px;
}

.card-list>li {
    width: calc(33.33% - 16px);
    padding: 40px 15px 50px;
    border-radius: 10px;
    transition: rotate .3s;
}

.card-list>li:hover {
    rotate: 2deg;
}

.card-list>li:nth-child(1) {
    background-color: #F2A761;
}
.card-list>li:nth-child(2) {
    background-color: #C5DDFA;
}
.card-list>li:nth-child(3) {
    background-color: #BBDB93;
}
/* vote e */
