 /* 기본 초기화 */
@charset "UTF-8";
/* reset css s */
* {margin :0; padding: 0; font: inherit; color: inherit;}
*, :after, :before {box-sizing: border-box; flex-shrink: 0;}
:root {-webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; line-height: 1; overflow-wrap: break-word; word-break: break-word; tab-size: 4}
html, body {height: 100%;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
button {background: none; border: 0; cursor: pointer;}
a {text-decoration: none}
table {border-collapse: collapse; border-spacing: 0;}
ul, ol {list-style: none;}
address, em {font-style: normal;}
fieldset {border: 0;}
html {font-family: Arial, Helvetica, sans-serif}
iframe {overflow: hidden; margin: 0; padding: 0; border: 0;}
/* reset css e */
.condensed {font-stretch: condensed;}
::selection {
    background-color: #000;
    color: #fff;
}