@charset "utf-8";
@import url(./reset.css);
@import url(https://db.onlinewebfonts.com/c/74fc282ac1937b053f409b3b70eb1bb6?family=Helvetica+Ultra+Compressed);
@font-face {
  font-family: "Helvetica Ultra Compressed";
  src: url("../font/Helvetica\ Ultra\ Compressed.otf");
}

.header {
  background: black;
  color: white;
  font-family: "Helvetica Ultra Compressed";
  font-size: 50px;
  display: flex; /* Flexbox를 사용하여 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: flex-start; /* 수직 상단 정렬 (flex-start로 설정하여 상단에 배치) */
  height: 70px; /* Header 높이 설정 (로고의 크기에 맞게 조정) */
  padding: 10px;
  margin: 0; /* 기본 margin 제거 */
}
.header h1{
  margin-top: 3px;
}

/* 로고 이미지 컨테이너 */
.logo {
  margin: 0; /* 로고 주변의 기본 margin 제거 */
}

/* 이미지 박스 (로고 이미지의 크기를 조정) */
.img-box {
  display: flex;
  justify-content: center; /* 이미지 수평 중앙 정렬 */
  align-items: center; /* 이미지 수직 중앙 정렬 */
}

/* 로고 이미지 스타일 */
.front {
  width: 300px; /* 로고 이미지 크기 조정 */
  height: auto; /* 비율에 맞게 자동으로 높이 조정 */
}

.contents .art-box{
  padding: 50px 50px 50px 50px;
}
.contents .art-box h2{
  font-family: "Helvetica Ultra Compressed";
  font-size: 200px;
  text-align: right;
}
.art-wrap {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.art-wrap img{
  max-width: 100%;
  height: 800px;
  margin-left: 20px;
}
.discrip {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  justify-content: flex-end; 
  margin-left: 20px;
  max-width: 600px;
  align-items: flex-end;
}
.info{
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  justify-content: flex-end; 
  margin-left: 20px;
  max-width: 600px;
  align-items: flex-start;
}
.discrip h2{
  font-family: "Helvetica Ultra Compressed";
  font-size: 120px;
  font-weight: 700;
}
.discrip span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.discrip p{
  font-size: 25px;
}
.info{
  display: flex;

}