@charset "utf-8";
@import url(./reset.css);
@import url(https://db.onlinewebfonts.com/c/74fc282ac1937b053f409b3b70eb1bb6?family=Helvetica+Ultra+Compressed);

.sub-contents {
    padding: 27px;
    height: 100%;
    position: relative;
}
.main-img{
    position: absolute;
    left: 50%;
    top: 42%;
    translate: -50% -50%;
    width: 310px;
    height: 278px;
    border-radius: 5px;
    overflow: hidden;
}
.main-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    
}
.scroll-wrap {
    height: 100vh;
    translate: 0 74%;
}
.scroll-wrap .top{
    display: flex;
    justify-content: space-between;
}
.scroll-wrap .mid, .scroll-wrap .btm{
    display: flex;
    justify-content: flex-end;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 200px;
}